body {
	padding: 0;
	margin: 0;

	font-family: "Roboto", Arial , sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;

	background-color: #eeeeee;
}

.site-navigation {
	list-style: none;
}

.site-navigation a,
.cart a {
	color: #000000;
}

.slider {
	background-color: #eeeeee;
}

.slider-heding {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
}

.btn {
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;

	text-align: center;
	vertical-align: middle;

	background-color: #fb565a;
	border: none;
}

.btn:hover,
.btn:focus {
background-color: #e74246;
}

.btn:active {
	background-color: #d7373b;
}

.slides-switcher {
	list-style: none;
}

.services-list {
	list-style: none;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.order-btn-2 {
	background-color: #00ca74;
}

.order-btn-2:hover,
.order-btn-2:focus {
background-color: #00bc6c;
}

.order-btn-2:active {
	background-color: #00aa62;
}

.order-btn-3 {
	background-color: #efc84a;
}

.order-btn-3:hover,
.order-btn-3:focus {
background-color: #eab534;
}

.order-btn-3:active {
	background-color: #e5a722;
}

.studio-heading {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.studio-list-heading {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.studio-list-1 {
	list-style: none;
}

.studio-list-2 dt {
	font-size: 45px;
	color: #000000;
}

.studio-list-2 dd {
	line-height: 18px;
}

.contacts h3 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.footer-heading {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.modal-write-us {
	line-height: 18px;
	color: #000000;

	box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);;
}

.modal-write-us h2 {
	font-size: 45px;
	line-height: 45px;
}

.inner-page {
	line-height: 18px;
}

.main-header {
	font-size: 55px;
	line-height: 55px;
	color: #000000;

	background-color: #eeeeee;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #000000;
}

.filter-price-range {
	line-height: 22px;
	color: #283136;
	text-align: center;
	vertical-align: middle;
	
	background-color: #eeeeee;
	border: none;
}


.filter ul {
	list-style: none;
}

.fieldset-grid label,
.fieldset-features label {
	line-height: 20px;
}

.filter-btn {
	color: #000000;

	background-color: #eeeeee;
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: #dfdfdf;
}

.filter-btn:active {
	color: rgba(0, 0, 0, 0.3);
	
	background-color: #d5d5d5;
	box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.sort-list-heading {
	font-size: 18px;
	font-weight: 700;
	color: #000000;
}

.sort-list {
	list-style: none;
}

.sort-type {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.sort-type:hover,
.sort-type:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sort-type-current,
.sort-type:active {
	color: #000000;
}

.templates-list {
	list-style: none;
}

.template-item {
	width: 359px;
	height: 615px;
}

.template-icon {
	fill-opacity: 0.12;
}

.template-icon:hover {
	fill-opacity: 1;
}

/* Временно */
.template-icon * {
	display: block;
}

.pagination-list {
	list-style: none;
}

.pagination-list a {
	color: #000000;

	background-color: #eeeeee;
}

.pagination-btn:hover,
.pagination-btn:focus {
background-color: #dfdfdf;
}

.pagination-btn:active {
	color: rgba(0, 0, 0, 0.3);
	
	background-color: #d5d5d5;
	box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}









